
/*Animaciones de texto (mas que todo)*/

.text-focus-in {
	-webkit-animation: text-focus-in var(--animation-duration)  cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in var(--animation-duration)  cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract var(--animation-duration)  cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract var(--animation-duration) cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.scale-in-center {
	-webkit-animation: scale-in-center var(--animation-duration);
	        animation: scale-in-center var(--animation-duration);
}

.fade-in {
    animation: fade-in var(--animation-duration) ease-in;
}

.slide-in-left {
    animation: slide-in-left var(--animation-duration) ease-out;
}

.animate-up {
    animation: animate-up var(--animation-duration)  ease;
}

.bounce-top {
	-webkit-animation: bounce-top var(--animation-duration) both;
	        animation: bounce-top var(--animation-duration) both;
}

.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom var(--animation-duration) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom var(--animation-duration) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd var(--animation-duration) cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd var(--animation-duration) cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}